/* The root defines the colours and makes it easy to update in future */
:root {
    --primary-color: #023047;
    --secondary-color: #8ECAE6;
    --accent-color: #fff;
    --text-color: #fff;
    --background-color: #001219;
    --footer-color: #ee9b00;
}

/* This is the general styling of the site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling of the header */
header{
    margin: 0 0.5rem auto;
	display: grid;
	grid-template-columns: 0.5fr 1fr 3fr 0.5fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    max-width:  100%;
}

.logo {
    width: 80px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}



/* Styling the image's width */
header img {
    grid-column-start: 2;
    height: 150px;
    width: auto;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    margin-left: 20px;
    font-weight: 800;
    display: block;
    font-size: 1.2rem;
}

.history {
    display: grid;
    grid-template: 4rem 1fr / 1fr 1fr 1fr;
    align-items: center;

}

.history h2 {
    grid-column: 1/4;
    justify-self: center;
    font-size: 40px;
    padding: 20px 0;
  }

  .history img {
    justify-self: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .history p {
    justify-self: center;
    padding: 0 20px;
  }

.hero {
    position: relative;
    margin-top: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: var(--accent-color);
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    padding: 20px;
    max-width: 100%;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
}

section {
    margin: 30px 0;
}

section h2 {
    color: var(--secondary-color);
    font-size: 2rem;
    margin-bottom: 10px;
}


section p {
    line-height: 1.6;
    margin-bottom: 20px;
}

section img {
    width: 15%;
    height: auto;
    margin-bottom: 20px;
}

/* Adventure style */

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.adventure h2 {
    grid-column: 1/6;
    justify-self: center;
}

.adventure img {
    width: 100%;
    padding: 0 10px 10px;
}

.adventure figure {
    text-align: center;
}

/* footer Style */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--footer-color);
}

footer p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    grid-column: 2;
    margin-bottom: 5px;
}

.sociallinks a {
    text-decoration: none;
}

nav.sociallinks {
    display: flex;
    justify-content: flex-start;
}

.sociallinks img {
    width: 20px;
    height: auto;
    margin-right: 1px;
}

/* Form */

section {
    padding: 20px;
    text-align: center;
}

.the_team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.the_team img {
    width: 300px;
    height: auto;
    align-items: center;
}

h1 {
    text-align: center;
    color: var(--accent-color);
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* contact us form styling */

section.form {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
    max-width: 600px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--accent-color);
}

button[type = "submit"],
button[type = "button"]
{
    background-color: var(--footer-color);
    text-align: center;
    color: var(--text-color);
    padding: 17px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.subscribe {
    margin-left: 150px;

}


input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* home page form and Image */
.image-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    column-gap: 30px;
}

/*  home Image and heading  */

.container {
    position: relative;

}

.container img {
    margin-top: 15px;
}

.overlay {
    position: absolute;
    top: 80%;
    left: 5%;
}

.book-us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.book-us button {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    font-size: 1.2rem;
    text-decoration: none;
}

/* booking table Trips page */

.bookings_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.bookings_table th, .bookings_table td {
    padding: 15px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.bookings_table th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.bookings_table td img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.bookings_table td button {
    padding: 10px 20px;
    background-color: var(--footer-color);
    color: var(--accent-color);
    border: none;
    border: 5px;
    cursor: pointer;
}

/* hover effects for all buttons */

nav a:hover {
    color: var(--primary-color);
}


.bookings_table td button:hover,
button[type="button"]:hover,
button[type="submit"]:hover,
button.subscribe:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
